<div class="row">
    <form method="get">
        {% for c_name in cat_names %}
            <div class="col-md-3 col-xs-6">
                <input type="checkbox" name="{{ c_name }}" id="{{ c_name }}">
                <label for="{{ c_name }}">{{ c_name }}</label>
            </div>
        {% endfor %}
    </form>
</div>
<div class="row">
    {% for product in products %}
    <div class="product-layout col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="product-thumb transition">
            <div class="image"><a href="/index.php?route=product/product&amp;product_id={{ product['product_id'] }}"><img src="http://localhost:8081/image/cache/catalog/demo/macbook_1-200x200.jpg" alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive"></a></div>
            <div class="caption">
                <h4><a href="/index.php?route=product/product&amp;product_id={{ product['product_id'] }}">{{ product['name'] }}</a></h4>

                <p>Тут будет какой-то достаточно короткий текст о товаре, но достаточно длинный чтобы заполнить пустое место в этом блоке</p>

                <p class="price">
                    ${{ product['price'] }}
                </p>
            </div>
            <div class="button-group">
                <button type="button" onclick="cart.add({{ product['product_id'] }});"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">В корзину</span></button>
                <button type="button" data-toggle="tooltip" title="" onclick="wishlist.add({{ product['product_id'] }});" data-original-title="Add to Wish List"><i class="fa fa-heart"></i></button>
                <button type="button" data-toggle="tooltip" title="" onclick="compare.add({{ product['product_id'] }});" data-original-title="Compare this Product"><i class="fa fa-exchange"></i></button>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
